@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/* Header */

.headernav  {
    position: relative;
    width: 100%;
    display: inline-block;
    list-style-type: none;
    overflow:auto;
}

/* Style the links inside the navigation bar */
.headernav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }

/* Change the color of links on hover */
.headernav a:hover {
    background-color: #ddd;
    color: black;
  }
  
/* Add a color to the active/current link */
.headernav a.active {
    background-color: #04AA6D;
    color: white;
}

.content p {
    color: white;
    font-family: sans-serif;
    width: 70%;
    text-align: center;
}

.content h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Monoton', cursive;
    font-weight: 400;
    animation-name: fadein;
    animation-duration: 3s;
}

/* Resume main page style */
.body-main {
    color: #000 !important;
    background: linear-gradient(45deg, black, rgb(168, 158, 212));
    margin: 0;
    box-sizing: border-box;
    line-height:1.5;
}

/* Left column 
.left-side{
    width: 33.33333%;
    float: left;
    padding: 0 8px;
    box-sizing: inherit;
} */

/* Left Siiiiiddeeee */
.left-side {
    font-family: sans-serif;
    background: black;
    padding: 5px;
    width: 300px;
    z-index: 100;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
}

.main {
    margin-bottom: 200%;
}

/* Right column */
.right-side{
    width: 66.66666%;
    float: right;
    padding: 0 8px;
    box-sizing: border-box;
}

.background-every{
    background: linear-gradient(45deg, black, rgb(90, 205, 161));
}

/* Holds profile picture */
.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card-2 {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.display-container {
    position: relative;
}

/* Holds text and helps separate left/right columns */
.container {
    padding-top: 0.01em;
    padding-right: 16px;
    padding-bottom: 0.01em;
    padding-left: 16px;
}

/* Grid */
.row-padding {
    padding: 0 8px;
    box-sizing: inherit;
}

/* Top margin */
.margin-top {
    margin-top:16px !important;
}

/* Bottom margin */
.margin-bottom {
    margin-bottom: 16px !important;
}

/* Right margin */

.margin-right {
    margin-right: 16px !important;
}


 




/* Text sizes */
.xxlarge {
    font-size: 30px !important;
}

.large {
    font-size: 18px !important;
}

.small {
    font-size: 12px !important;
}

.center {
    text-align: center !important;
}

.round-xlarge {
    border-radius: 16px;
}





/* Colors - text and background */
.white {
    color: #fff !important;
    background-color: #000 !important;
}

.teal {
    color: #fff !important;
    background-color: #009688 !important;
}

.peach {
    color: #fff !important;
    background-color: #ffb99c !important;
}

.easter-yellow {
    color: #fff !important;
    background-color: #fff49c !important;
}

.sky-blue {
    color: #fff !important;
    background-color: #eaf7fe !important;
}

.light-purple {
    color: #fff !important;
    background-color: #bc7dc5 !important;
}

.blue-grey {
    color: #fff !important;
    background-color: #9fa9d3 !important;
}

.green-grey {
    color: #fff !important;
    background-color: #9fa9a5 !important;
}

.coral {
    color: #fff !important;
    background-color: #ff4367 !important;
}

.text-purple {
    color: #bc7dc5 !important;
}

.text-grey {
    color: #757575 !important;
}

.text-teal {
    color: #009688 !important;
}

.text-blue {
    color: #9fa9d3 !important;
}

.text-white {
    color: #fff !important;
}

/* Font Awesome styling and formatting */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.fa-fw {
    width: 1.20571429em;
    text-align: center;
}



.padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important; /* # Might take OUT */
}
